/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --section-header-color: var(--text-color);
  --overlay-text-color: var(--text-color);
  --decoration-color: var(--text-color);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec {
  display: none;
}
