/* 
  Основные стили проекта
  По умолчанию заданы стили для темной темы 
  Медиа-запросы под разные разрешения в конце файла
*/

.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--page-font), sans-serif;
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  line-height: 23.4px;
}

.main {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.header {
  height: 100vh;
  background-image: var(--header-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font: inherit;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: var(--regular-gap) 0;

}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.header__rec {
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 27px;
  text-align: end;
  margin-top: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -17px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 9px;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 2px var(--decoration-color);
}

.header__theme-menu {
  margin: auto var(--decoration-gap);
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--decoration-color);
  background-color: transparent;
  border: none;
  line-height: 18px;
  text-transform: lowercase;
  font-weight: inherit;
  padding: 4px 13px 4px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decoration-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

.header__title,
.footer__text {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-weight: var(--header-font-weight);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
}

.header__title {
  display: inline-block;
  justify-self: start;
  margin-left: var(--header-margin-left);
}

.header__caption {
  margin: var(--decoration-gap);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--overlay-text-color);
  font-weight: var(--header-font-weight);
  font-size: inherit;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--regular-gap);
  margin-top: 50px;
}

.section:first-child {
  margin-top: 40px;
}

.section:last-child {
  margin-bottom: 40px;
}

.section__header {
  color: var(--section-header-color);
  font-size: inherit;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: var(--regular-gap);
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.section__article-slim-header {
  font-weight: var(--text-font-weight);
}

.section__article-gallery {
  display: grid;
  grid-template-columns: minmax(calc(100vw - 2*var(--decoration-gap)), 1fr);
  gap: var(--decoration-gap);
}

.img {
  width: 100%;
  height: inherit;
}

.footer {
  height: 100vh;
  font: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (width >= 768px) {
  
  .header {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(var(--decoration-color-rgb), 0.4);
  }

  .header__caption {
    align-self: start;
    padding-top: 20px;
  }

  .text-link:hover {
    border-bottom: 1px solid currentColor;
  }

}

@media (width >= 1024px) {



}