/* По умолчанию цвета заданы для темной темы */

:root {
  --background-color: #000028;
  --header-background-image: url("../images/cover-image-dark.png");
  --text-color: #F1B2CE;
  --text-color-rgb: 241, 178, 206;
  --accent-color: #FF0070;
  --accent-color-rgb: 255, 0, 112;
  --title-color: #DB00FF;
  --section-header-color: var(--accent-color);
  --overlay-text-color: var(--background-color);
  --decoration-color: var(--accent-color);
  --decoration-color-rgb: var(--accent-color-rgb);
  --page-font: "IBM Plex mono";
  --title-font-size: clamp(7.25rem , 7.0115rem + 1.0178vw , 7.5rem);
  --text-font-size: 18px;
  --text-font-weight: 400;
  --header-font-weight: 700;
  --regular-gap: 20px;
  --decoration-gap: clamp(10px , 2.65vw , 20px);
  --header-margin-left: min(10px , 20px - 2.6vw);
  --section-margin-top: 50px;
  --end-section-margin: 40px;
  --section-gap-margin: 11px;
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem , 0.5625rem + 14.4531vw , 9.8125rem);
    --decoration-gap: 20px;
    --header-margin-left: 0;
    --section-margin-top: 80px;
    --end-section-margin: 60px;
  }
}
